{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section d-md-flex bg-light">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-7">
        <h2>PyCon Indonesia is a place to learn from each other &amp; meet other members of the community of Python
          Developer</h2>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch" style="background-image:url(/images/about.jpg);"></div>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <span class="subheading">Fun Facts</span>
            <h2 class="mb-4"><span>Fun</span> Facts</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-guest"></span>
                </div>
                <strong class="number" data-number="30">0</strong>
                <span>Speakers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-handshake"></span>
                </div>
                <strong class="number" data-number="200">0</strong>
                <span>Sponsor</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-chair"></span>
                </div>
                <strong class="number" data-number="2500">0</strong>
                <span>Total Seats</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-idea"></span>
                </div>
                <strong class="number" data-number="40">0</strong>
                <span>Topics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Testimonial</span>
        <h2 class="mb-4"><span>Happy</span> Clients</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url(/images/person_2.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url(/images/person_3.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                  there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}