{%extends 'base.html'%}
{%block title%}{{page.title}}{%endblock%}

{%block content%}

<section id="blogs" class="section-with-bg default-page">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Blog</h2>
            <p>Articles related with Python Conference Indonesia 2020</p>
        </div>

        <div class="row">
          {% for article in page.blog_list %}
          <!-- Title, Author, Category, url, Image -->
            {% set list_article = article.split('~') %}
              <!-- <img src="{{SITEURL}}/theme/img/blogs/{{list_article[4]}}" /> -->
              <h4>{{list_article[0]}}</h2><br/>
              <h1>{{list_article[1]}}</p><br/>
              <p>{{list_article[2]}}</p><br/>
              <!-- <a href="{{SITEURL}}/{{list_article[3]}}" >Read More</a> -->
              {% endfor %}
            
        </div>
      </div>
</section>

{%endblock%}