{% extends 'base.html' %}

{% block title %}{{article.title}}{% endblock %}
{% block content %}

<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
      data-scrollax-parent="true">
      <div class="col-6 ftco-animate pb-5">
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{article.title}}
        </h1>
      </div>
      <div class="col-6 ftco-animate" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        data-stellar-background-ratio="0.5"
        style="height: 80%; width: 80%; background-image: url('/images/mascot_1.png'); background-size: cover;">
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-10 offset-md-1 pl-md-5">
        <div class="row justify-content-start p-3 border rounded">

          {{ article.content }}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}