{% extends 'base.html' %}

{% block title %}{{SITENAME}}{% endblock %}
{% block content %}
<div class="hero-wrap js-fullheight img-fluid align-right" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
			data-scrollax-parent="true">
			<div class="col-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
				<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> Python
					Conference<br><span>Indonesia 2019</span></h1>
				<p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">November 23, 2019.
					Surabaya, Indonesia</p>
				<!-- <div id="timer" class="d-flex flex-row bd-highlight mb-3">
					<div class="time" id="days"></div>
					<div class="time" id="hours"></div>
					<div class="time" id="minutes"></div>
					<div class="time" id="seconds"></div>
				</div> -->
				<div class="row pr-5 mr-2">
					<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
						<p><a class="btn btn-secondary btn-block" href="#">Registration Closed</a></p>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
						<p><a class="btn btn-success btn-block" href="{{ SCHEDULE_URL }}">Schedule & Layout</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-6 ftco-animate" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
				data-stellar-background-ratio="0.5"
				style="height: 80%; width: 80%; background-image: url('{{ SITEURL }}/images/mascot_1.png'); background-size: cover;">
			</div>
		</div>
	</div>
</div>

<section class="ftco-section services-section bg-light">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-placeholder"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Venue</h3>
						<p>
							<strong>Universitas Ciputra Surabaya</strong>
							<br>Citraland CBD Boulevard, Surabaya, Jawa Timur.
							<br><a href="https://goo.gl/maps/QUTjHcsPwLvTUE916">See in maps</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-world"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Transport</h3>
						<p>To be announced</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-hotel"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Hotel</h3>
						<p>To be announced</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-cooking"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Restaurant</h3>
						<p>To be announced</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex">
				<div class="img d-flex align-self-stretch" style="background-image: url(images/pycon18_4.jpg);"></div>
			</div>
			<div class="col-md-6 pl-md-5 py-5">
				<div class="row justify-content-start pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<h2 class="mb-4"><span>About</span> PyCon Indonesia</h2>
						<p style="text-align: justify;text-justify: inter-word;">
							PyCon Indonesia is a conference where Python users, or people interested in Python, gather
							to learn from each other and meet other members of the community. We hope that everyone
							joining PyCon ID will not only learn new and exciting things, but also meet new friends and
							strengthen the connection with the community, and thus the community itself. This year, we
							chose "The Beauty of Python" as our theme. The Pycon ID staff is continuing to work hard on
							making a conference that will allow everyone to have a great time and unlock new
							possibilities through Python.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 pl-md-5 py-5">
				<div class="row justify-content-start pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<h2 class="mb-4">Call for Paper</h2>
						<p style="text-align: justify;text-justify: inter-word;">
							PyCon Indonesia is pleased to announce that the Call For Proposals is now open. We are
							calling out for speakers to share their Python knowledge (in the form of Talks, Workshop and
							Posters) which would intrigue the Python community at this event! We’re looking for
							proposals on every aspect of Python: from basic to advanced levels. We’re interested to see
							all content that’s interesting and engaging to the Python community, whether it be
							tutorials, case studies, interactive sessions, or even how you and your organization works
							with Python. So if you have something that the community might be interested in, let us
							know; and don’t worry if you’re a seasoned engineer or a novice with no experience of
							presenting at a conference before; what matters is the content that you’ll be sharing with
							the community.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 d-flex">
				<div class="img d-flex align-self-stretch" style="background-image: url(images/pycon18_5.jpg);"></div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
				<a href="images/pycon17_1.jpg" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/pycon17_1.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/pycon17_2.jpg" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/pycon17_2.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/pycon18_1.jpg" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/pycon18_1.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/pycon18_2.jpg" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/pycon18_2.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}