<!-- ======= Schedule Section ======= -->
<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Event Schedule & Speakers</h2>
        <p>Here is our event schedule</p>
      </div>

      <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
        <li class="nav-item">
          <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
        </li>
      </ul>

      <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <!-- Schdule Day 1 -->
        <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">
          <div class="row schedule-item">
            <div class="col-md-2"><h4>Schedule</h4></div>
            <div class="col">
              <h4>Room 1</h4>
            </div>
            <div class="col">
              <h4>Room 2</h4>
            </div>
            <div class="col">
              <h4>Room 3</h4>
            </div>
            <div class="col">
              <h4>Room 4</h4>
            </div>
          </div>	

          <div class="row schedule-item">
            <div class="col-md-2"><time>10.00-10.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Opening Session : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>10.15-11.05</time></div>
            <div class="col">
              <h4 style="text-align: center;">"Making a Bigger Impact with Open Source" : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/ariya-hidayat">Ariya Hidayat (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11.05-11.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11.15-11.55</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 1</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11.55-12.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Sponsorship Presentation : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.15-12.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Community Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.35-12.55</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Networking Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.55-13.00</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.00-13.45</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 2</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.45-13.50</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.50-14.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 3</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>14.35-15.00</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Networking Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.00-15.45</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 4</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.45-15.50</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.50-16.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 5</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16.35-16.40</time></div>
            <div class="col">
              <h4 style="text-align: center;">Lightning Talks Preparation</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16.40-17.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Lightning Talks Sprint Day 1</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>17.15-17.25</time></div>
            <div class="col">
              <h4 style="text-align: center;">Closing Day 1</h4>
            </div>
          </div>

          <!-- <div class="row schedule-item">
            <div class="col-md-2"><time>10:00 AM</time></div>
            <div class="col">
              <p>Make your Data Application using The Easiest Framework, Streamlit</p>
              <h4>Muhammad Sifa'ul Rizky</h4>
            </div>
            <div class="col">
              <p>Make your Data Application using The Easiest Framework, Streamlit</p>
              <h4>Muhammad Sifa'ul Rizky</h4>
            </div>
            <div class="col">
              <p>Make your Data Application using The Easiest Framework, Streamlit</p>
              <h4>Muhammad Sifa'ul Rizky</h4>
            </div>
            <div class="col">
              <p>Make your Data Application using The Easiest Framework, Streamlit</p>
              <h4>Muhammad Sifa'ul Rizky</h4>
            </div>
          </div> -->

        </div>
        <!-- End Schdule Day 1 -->		

        <!-- Schdule Day 2 -->
        <div role="tabpanel" class="col-lg-12  tab-pane fade" id="day-2">
          <div class="row schedule-item">
            <div class="col-md-2"><h4>Schedule</h4></div>
            <div class="col">
              <h4>Room 1</h4>
            </div>
            <div class="col">
              <h4>Room 2</h4>
            </div>
            <div class="col">
              <h4>Room 3</h4>
            </div>
            <div class="col">
              <h4>Room 4</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>10.00-10.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Opening Session : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>10.15-11.05</time></div>
            <div class="col">
              <h4 style="text-align: center;">"Oops! I Became an Open Source Maintainer! 😱" : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/mariatta-wijaya">Mariatta Wijaya (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11.05-11.55</time></div>
            <div class="col">
              <h4 style="text-align: center;">"The Python Community is Stronger Together" : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/nina-zakharenko">Nina Zakharenko (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>11.55-12.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Sponsorship Presentation : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.15-12.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Community Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.35-12.55</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Networking Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>12.55-13.00</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.00-13.45</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 1</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.45-13.50</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>13.50-14.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 2</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>14.35-15.00</time></div>
            <div class="col">
              <h4 style="text-align: center;">Break and Networking Session</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.00-15.45</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 3</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.45-15.50</time></div>
            <div class="col">
              <h4 style="text-align: center;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>15.50-16.35</time></div>
            <div class="col">
              <h4 style="text-align: center;">Parallel Session Talks 4</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16.35-16.40</time></div>
            <div class="col">
              <h4 style="text-align: center;">Lightning Talks Preparation</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>16.40-17.15</time></div>
            <div class="col">
              <h4 style="text-align: center;">Lightning Talks Sprint Day 2</h4>
            </div>
          </div>

          <div class="row schedule-item">
            <div class="col-md-2"><time>17.15-17.25</time></div>
            <div class="col">
              <h4 style="text-align: center;">Closing Session</h4>
            </div>
          </div>


        </div>
        <!-- End Schdule Day 2 -->

      </div>
    </div>
  </section>
  <!-- End Schedule Section -->