<!-- ======= Schedule Section ======= -->
<section id="schedule" class="section-with-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Event Schedule & Speakers</h2>
        <p>The schedule below are displayed in Western Indonesia (Jakarta) Local Time (UTC +7) <br/>To check the equivalent time of your own local time, please refer to <a href="http://www.thetimezoneconverter.com/" target="_blank">http://www.thetimezoneconverter.com/</a></p>
      </div>

      <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
        <li class="nav-item">
          <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
        </li>
      </ul>

      <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">

        <!-- Schdule Day 1 -->
        <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">
          <div class="row schedule-item justify-content-center">
            <div class="col-2">
              <h4 style="text-align: center;">Schedule</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 1</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 2</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 3</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 4</h4>
            </div>
          </div>	

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>10.00-10.15</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Opening Session : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>10.15-11.05</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">"Making a Bigger Impact with Open Source" : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/ariya-hidayat">Ariya Hidayat (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>11.05-11.15</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>11.15-11.55</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Powering AI/ML workloads with Python, Docker, and CUDA on Windows 10 with Ubuntu on WSL</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/hayden-barnes">Hayden Barnes</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sponsored Talk</h4>
              <h4 style="text-align: center;"><a href="https://scoutapm.com/" target="_blank">SCOUT APM</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Clippy for Python - Get Heavy into Python Internals to build a real-time code companion</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/dean-langsam">Dean Langsam</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Using Python to Create A Local Law in New York City</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/nurvirta-monarizqa">Nurvirta Monarizqa</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>11.55-12.15</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sponsorship Presentation : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.15-12.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Community Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.35-12.55</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Networking Session Quiz Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.55-13.00</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.00-13.45</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Introduction to Probabilistic Programming with PyMC3</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/ali-akbar-septiandri">Ali Akbar Septiandri</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Is your data fit to fit() ?</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/nicholas-doiron">Nick Doiron</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Top Notch Categorical Encoding using Python</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/rahul-bhatia">Rahul Bhatia</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Machine Learning based Drug Discovery & Repurposing</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/aries-fitriawan">Aries Fitriawan</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.45-13.50</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.50-14.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Managing Data Science Project in Microsoft Ecosystem</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/ridi-ferdiana">Ridi Ferdiana</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Detecting spam texts using cutting-edge NLP technique with minimum efforts</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/salahuddin-muhammad-iqbal">Salahuddin Muhammad Iqbal (Ivo)</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Robotic Process Automation in Python</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/andi-dinata">Andi Dinata</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Python and FOSS in Education for Generation Z</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/gajendra-deshpande">Gajendra Deshpande</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>14.35-15.00</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Networking Session Quiz Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.00-15.45</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Python worst Practices AKA Anti-Patterns</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/pratibha-jagnere">Pratibha Jagnere</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Text Preprocessing Pipeline for Bahasa ​​using Python: Concept, Steps, Tools, and Examples</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/kuncahyo-setyo-nugroho">Kuncahyo Setyo Nugroho</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">The story behind SPERO: how to make use of PyQt5 for your non-GUI technical apps</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/indar-sugiarto">Indar Sugiarto</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Everything Counts! Python + IoT + Conectivity #Tech4Good</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/diana-rodriguez">Diana Rodriguez</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.45-15.50</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.50-16.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Developing More Secure Testing on AWS with PyTest</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/renaldi-gondosubroto">Renaldi Gondosubroto</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Psst, it’s a surprise (Simple Python Recommendation System Engine)!</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/septiviana-savitri">Septiviana Savitri</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Make Indonesia World #1 Remote Worker Provider</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/eko-suprapto-wibowo">Eko S. Wibowo</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Making Machine Learning Model Deployments Magical with Merlin</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/arief-rahmansyah">Arief Rahmansyah</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>16.35-16.40</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Lightning Talks Preparation</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>16.40-17.15</time></div>
            <div class="col">
              <div class="row justify-content-center">
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Computer Vision Simulation in Artificial Environment with Python</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/agus-prayudi">Agus Prayudi</a></h4>
                </div>
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Identify our system defect using load test in locust</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/raden-panji-maharjo-tri-wibowo">Raden Panji Maharjo Tri Wibowo</a></h4>
                </div>
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Type Hinting: Why it should be your best friend</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/arif-qodari">Arif Qodari</a></h4>
                </div>
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Containerizing Python Web Apps with Docker, Django, Flask and Nginx</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/hasan-faraz-khan">Hasan Faraz Khan</a></h4>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">ETL Using Pandas to GCP in Seconds</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/adam-widi-bagaskarta">Adam Widi Bagaskarta</a></h4>
                </div>
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Preparing a catwalk for your models: how to deploy within seconds</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/yosef-ardhito-winatmoko">Yosef Ardhito Winatmoko</a></h4>
                </div>
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;"> Property Based Testing menggunakan Hypothesis</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/miftah-muhammad">Miftah Muhammad</a></h4>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
  
          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>17.15-17.25</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Closing Day 1</h4>
            </div>
          </div>

        </div>
        <!-- End Schdule Day 1 -->		

        <!-- Schdule Day 2 -->
        <div role="tabpanel" class="col-lg-12  tab-pane fade" id="day-2">
          <div class="row schedule-item justify-content-center">
            <div class="col-2">
              <h4 style="text-align: center;">Schedule</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 1</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 2</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 3</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center;">Room 4</h4>
            </div>
          </div>	

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>10.00-10.15</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Opening Session : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>10.15-11.05</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">"Oops! I Became an Open Source Maintainer! 😱" : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/mariatta-wijaya">Mariatta Wijaya (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>11.05-11.55</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">"The Python Community is Stronger Together"  : Main Stage</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/nina-zakharenko">Nina Zakharenko (Keynote Speaker)</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>11.55-12.15</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sponsorship Presentation : Main Stage</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.15-12.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Community Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.35-12.55</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Networking Session Quiz Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>12.55-13.00</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.00-13.45</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Python for Geoscientist: Machine Learning and Beyond!</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/izzul-qudsi">Izzul Qudsi</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Go Faster: Use Cython</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/fauzan-erich-emmerling">Fauzan Erich Emmerling</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">What I have learned in building a production website that serves PyCon APAC 2020 within 4 days</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/ing-wei-tang">Ing Wei Tang</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Cloud Native Development for Python</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/johanes-alexander">Johanes Alexander</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.45-13.50</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>13.50-14.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Building deep-learning models on geo-spatial data to fight dengue</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/anand-s">Anand S</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Web Crawling and Data Extraction in Python, from basic to advanced use cases.</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/kevin-bernal">Kevin Lloyd Bernal</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">TinyML with MicroPython</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/andri-yadi">Andri Yadi</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Publishing well-formed Python packages</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/julin-shaji">Julin Shaji</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>14.35-15.00</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Break and Networking Session Quiz Session</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.00-15.45</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Gold Distribution Estimation using Kriging Method with Geostatspy Library</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/mordekhai">Mordekhai</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sponsored Talks</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sphinxing it!</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/divya-mohan">Divya Mohan</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">The Experience of Fast with FastAPI</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/yahya-fadhluloh-al-fatih">Yahya Fadhluloh Al Fatih</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.45-15.50</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Session Breaks</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>15.50-16.35</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Sponsored Talks</h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Make your Data Application using The Easiest Framework, Streamlit</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/muhammad-rizky">Muhammad Sifa'ul Rizky</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">No more tears 😢from project nightmares</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/aman-sharma">Aman Sharma</a></h4>
            </div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Python for Finance: Markowitz's Portfolio Optimization</h4>
              <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/yevonnael-andrew">Yevonnael Andrew</a></h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>16.35-16.40</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Lightning Talks Preparation</h4>
            </div>
          </div>

          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>16.40-17.15</time></div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <h4 style="text-align: center; font-weight: 500;">Explain your Marketing Mix Model using SHAP</h4>
                  <h4 style="text-align: center;"><a href="{{SITEURL}}/speaker/parlinggoman-hasibuan">Parlinggoman Hasibuan</a></h4>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </div>
          </div>
  
          <div class="row schedule-item justify-content-center">
            <div class="col-2"><time>17.15-17.25</time></div>
            <div class="col">
              <h4 style="text-align: center; font-weight: 500;">Closing Session</h4>
            </div>
          </div>
        </div>
        <!-- End Schdule Day 2 -->

      </div>
    </div>
  </section>
  <!-- End Schedule Section -->