{%extends 'base.html'%}

{%block title%}{{page.talk_title}} - {{page.speaker_name}}{%endblock%}


<!-- ======= Speaker Details Sectionn ======= -->
<section id="speakers-details">
  <div class="container">
    <div class="section-header">
      <h2>Speaker Details</h2>
      <p>Praesentium ut qui possimus sapiente nulla.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
      </div>

      <div class="col-md-6">
        <div class="details">
          <h2>Brenden Legros</h2>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
          <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore
            sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.</p>

          <p>Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro
            dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p>

          <p>Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa
            magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis
            velit. In qui debitis autem aperiam voluptates unde sunt et facilis.</p>
        </div>
      </div>

    </div>
  </div>

</section>