{%extends 'base.html'%}

{%block title%}{{page.talk_title}} - {{page.speaker_name}}{%endblock%}

{% block content %}
<!-- ======= Speaker Details Sectionn ======= -->
<section id="speakers-details" class="section-with-bg default-page">
  <div class="container">
    <div class="section-header">
      <h2>Speaker Details</h2>
      <p>{{ page.speaker_talk }}</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="{{ SITEURL }}/theme/img/speakers/{{ page.speaker_img }}" alt="{{ page.speaker_name }}" class="img-fluid">
      </div>

      <div class="col-md-6">
        <div class="details">
          <h2>{{ page.speaker_name }}</h2>
          <h6><i>{{ page.speaker_from }}</i></h6>
          
          {{ page.speaker_bio }}
          <hr>
          <div class="social">
            <a href="{{ page.speaker_twitter }}"><i class="fa fa-twitter"></i></a>
            <a href="{{ page.speaker_facebook }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ page.speaker_linkedin }}"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% include 'sponsors-list.html' %}
{% endblock %}