{% extends 'base.html' %}

{% block title %}{{page.title}}{% endblock %}
{% block content %}
<!-- Tittle Event Schedule -->
<div class="hero-wrap js-fullheight">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
			data-scrollax-parent="true">
			<div class="col-6 ftco-animate pb-5">
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ page.title }}
				</h1>
			</div>
			<div class="col-6 ftco-animate" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
				data-stellar-background-ratio="0.5"
				style="height: 80%; width: 80%; background-image: url('images/mascot_1.png'); background-size: cover;">
			</div>
		</div>
	</div>
</div>
<!--Content Event Schedule -->
<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-2 pb-1">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2><span>Our</span> Speakers</h2>
			</div>
		</div>
		<div class="ftco-search">
			<div class="row">
				<div class="col-md-12 tab-wrap">
					<div class="tab-content">
						<div class="tab-pane fade show active" role="tabpanel">
							{% for schedule_item in page.schedule_item %}
							{% set list_schedule = schedule_item.split('~') %}
							<div class="speaker-wrap ftco-animate d-flex">
								<div class="text pl-md-5">
									<span class="time">{{ list_schedule[0] }}</span>
									<h2>{{ list_schedule[1] }}</h2>
									<p>{{ list_schedule[2] }}</p>
									<h3 class="speaker-name">&mdash; <a href="{{ SITEURL + '/speaker/' + list_schedule[5] }}"> {{ list_schedule[3] }}</a>
										<span class="position"> {{ list_schedule[4] }}</span></h3>
								</div>
							</div>
							{% endfor %}

              {% if page.content != "" %}
              <div class="speaker-wrap ftco-animate" id="details">
								{{ page.content }}
              </div>
              {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}