<section id="supporters">
    <div class="container mt-5" data-aos="fade-up">
        <div class="section-header">
            <h2>Sponsors</h2>
            <p>Pycon Indonesia gratefully acknowledges the generosity of our many Pycon ID ’20 sponsors. Their support, along with that of our members, helps make it possible to accomplish all that we do.</p>
        </div>
        <!-- <br>
        <br> -->
        <h2 style="text-align:center;font-weight:500;">Platinum Sponsors</h2>
        <div class="row no-gutters supporters-wrap clearfix justify-content-center" style="border:0;" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-3 col-md-3 col-xs-3"></div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="supporter-logo" style="border:0;">
                    <a href="{{SITEURL}}/sponsors/microsoft" target="_blank">
                        <div style="margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{SITEURL}}/theme/img/supporters/logo-microsoft.png" class="img-fluid" alt="">
                        </div>  
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3"></div>
        </div> 

        <br>
        <br>
        <h2 style="text-align:center;font-weight:500;">Gold Sponsors</h2>
        <div class="row no-gutters supporters-wrap clearfix justify-content-center" style="border:0;" data-aos="zoom-in" data-aos-delay="100">
            <!-- <div class="col-lg-4 col-md-4 col-xs-4"></div> -->
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="supporter-logo" style="border:0;">
                    <a href="https://scoutapm.com/" target="_blank">
                        <div style="margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{SITEURL}}/theme/img/supporters/logo-scoutapm.png" class="img-fluid" style="max-width:80% !important;" alt="">
                        </div>  
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="supporter-logo" style="border:0;">
                    <a href="https://remoteworker.id/" target="_blank">
                        <div style="margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{SITEURL}}/theme/img/supporters/logo-rwid.jpg" class="img-fluid" style="max-width:80% !important;" alt="">
                        </div>  
                    </a>    
                </div>
            </div>
        </div> 


        <br>
        <br>
        <h2 style="text-align:center;font-weight:500;">Silver Sponsors</h2>
        <div class="row no-gutters supporters-wrap clearfix" style="border:0;" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-lg-4 col-md-4 col-xs-4"></div>
            <div class="col-lg-4 col-md-4 col-xs-4">
                <div class="supporter-logo" style="border:0;">
                    <a href="https://www.qiscus.com/" target="_blank">
                        <div style="margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{SITEURL}}/theme/img/supporters/logo-qiscus.png" style="max-width: 60% !important;" class="img-fluid" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4"></div>
            <!--
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/3.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/4.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/5.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/6.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/7.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="supporter-logo">
                    <img src="{{SITEURL}}/theme/img/supporters/8.png" class="img-fluid" alt="">
                </div>
            </div> -->

        </div> 

    </div>
    
</section><!-- End Sponsors Section -->
