{% extends 'base.html' %}

{% block title %}{{page.title}}{% endblock %}
{% block meta_description %} {{ page.meta_description }} {% endblock %}

{% block content %}
<section class="section-with-bg default-page">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="p-5 border rounded text-justify">
            {{ page.content }}
            
            <div class="pt-3" style="display: flex; flex-direction: row; justify-content: center;">
                <a href="{{TICKETING_SITE_URL}}/event/pycon-indonesia-2020" class="btn-cta" style="text-align: center">Get Your Tickets Now</a>
            </div>
        </div>
    </div>
</section>

{#{% include 'sponsors-list.html' %}#}
{% endblock %}
